<!DOCTYPE html>
<html lang="en">
<head>
	{{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="/ghost/ghost.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} full-bleed">
<!-- ssoUser F -->

    {{! Everything else gets inserted here }}
    {{#if ssoUser}}
        {{{body}}}

        <!--MAIN NAVIGATION-->
        <div id="primary-nav" class="is-white">
            {{navigation}}
        </div>
        {{> menu}}
        <!--END-->
    {{else}}
        <p>
        <h2>Welcome! Please sign in</h2>
        <p>
        <p>
        <p>
        <a href="/auth/twitter"><img src="/content/images/sign-in-with-twitter-l.png"></a>
        <p>
    {{/if}}

    {{> footer}}

	<!--INCLUDE REQUIRE/INIT MAIN SCRIPTS-->
	<script type="text/javascript" src="{{asset "js/require.js" ghost="true"}}" data-main="{{asset "js/core.js" ghost="true"}}"></script>

<!--END-->
</body>
</html>