{{!< featured}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}


<!--BEGIN CATEGORY HERO AREA-->
<div id="full-bleed-hero">
	<!--FLUID IMAGE AREA-->
	<div id="fluid-image">
		{{#if featuredPost}}
			<img src="{{featuredPost.image}}" />
		{{else}}
			<img src="{{tag.image}}" />
		{{/if}}
	</div>
	<!--END FLUID IMAGE AREA-->
	<!-- TINT AREA -->
	{{#if featuredPost}}
		{{#featuredPost}}
			<a href="{{url}}">
				<div id="tint"></div>
			</a>
		{{/featuredPost}}
		<!--HEADLINE AREA-->
		<div id="headline">
			<h3>{{tag.name}}
			{{#if tag.description}}
				<span class="circle-decoration"></span>
				<span class="cat-descrip">{{tag.description}}</span></h3>
			{{/if}}
			{{#if featuredPost}}
				{{#featuredPost}}
					<h4><a href="{{url}}">{{title}}</h4>
				{{/featuredPost}}
			{{/if}}
		</div>
		<!--END HEADLINE-->
	{{else}}
		<div id="tint"></div>

		<div id="category-description">
			<h2>{{tag.name}}</h2>
			<p>{{tag.description}}</p>
		</div>
	{{/if}}
	<!--END TINT AREA-->
</div>
<!--END CATEGORY HERO AREA-->

<div id="main-story-feed">
	{{> "loop"}}
</div>
<!-- mixpanel event context -->
<script>
	akEvents.name = "Category View";
	akEvents.properties.tag = "{{tag.name}}";
    {{#if ssoUser}}
		akEvents.properties.reader_id = "{{ssoUser.attributes.social_id}}";
    {{/if}}
</script>
<!-- begin usabilla button id -->
<script>
	<!-- this will allow for different buttons on different categories -->
	var akTags = {'rant': '62c4d50eb27b', 'live': '62c4d50eb27b', 'think': '62c4d50eb27b', 'learn': '62c4d50eb27b'};
	var akUsabilla_id = akTags['{{tag.name}}'.toLowerCase()];
</script>
<!-- end usabilla button id -->

