<div id="primary-nav" class="compose-story">
	<div id="relative">
		<div id="nav-background"></div>
		<div id="nav-content">
		<!--LOGO-->
		<a href="#" id="logo"></a>
		<!--END LOGO-->
		<!--MAIN MENU-->
		<a href="#" id="menu">
			<div id="relative">
				<div class="menu-bar one"></div>
				<div class="menu-bar two"></div>
				<div class="menu-bar three"></div>
			</div>
		</a>
		<!--END MENU-->
		<!--WRITE STORY-->
			<a href="/ghost/editor" id="write-story">
				<div class="relative">
					<div id="compose-icon"></div>
					<p>Write</p>
				</div>
			</a>
		<!--END WRITE-->
		<!--FINISH WRITING STORY-->
			<a href="#" id="finish-writing-story">
				<div class="relative">
					<div id="compose-icon"></div>
					<p>Finish</p>
				</div>
			</a>

		<!--END FINISH WRITING-->

		<!--BEGIN ACCOUNT DROPDOWN/LOG IN-->
			{{#if session.isAuthenticated}}
				<div id="account-icon-wrapper">
					<a href="#" id="log-in">
						{{#if session.user.image}}
							<img class="menu-image" src="{{session.user.image}}" />
						{{else}}
							<div id="logged-out-icon"></div>
						{{/if}}
					</a>														

					<!--BEGIN LOGEED IN ACTIONS-->
					<div id="logged-in-actions" class="hidden">
						<ul id="logged-in-actions-list">
							{{#if session.user.isAuthor}}
							{{else}}
								<li><a href="/ghost" class="logged-in-action">Manage Site Content<div class="manage-site-content action-icon"></div></a></li>
								<li><a href="/ghost/ssousers" class="logged-in-action">Manage Users<div class="manage-site-content action-icon"></div></a></li>
							{{/if}}
							<li><a href="/ghost/editor" class="logged-in-action">New Story<div class="new-story action-icon"></div></a></li>
							<li><a href="/ghost/drafts" class="logged-in-action">Drafts and Stories<div class="drafts-and-stories action-icon"></div></a></li>
							<li><a href="/user/{{session.user.slug}}" class="logged-in-action">Profile<div class="view-profile action-icon"></div></a></li>
							<li class="last"><a href="/auth/signout" class="logged-in-action grey-text">Sign Out<div class="sign-out action-icon"></div></a></li>
						</ul>

						<div id="close-handheld-overlay">
							<div class="relative">
								<div class="line-one"></div>
								<div class="line-two"></div>
							</div>
						</div>
					</div>
					<!--END LOGGED IN ACTIONS-->
				</div>
			{{else}}
				<div id="account-icon-wrapper">
					<a href="/ghost/signin" id="log-in">
						<div id="logged-out-icon"></div>
					</a>
				</div>
			{{/if}}
		<!--END ACCOUNT-->
		

		</div>
	</div>
</div>

<!--MENU OVERLAY-->
<div id="main-menu-wrapper" class="hidden">
	<div id="overlay-background"></div>
	<div class="relative">
		<div id="menu-content">
			<div class="eyebrow">on aKoma</div>
			<!--BEGIN FILTER NAV-->
			<ul id="filter-nav">
				<li><a href="/" class="filter-nav-link">FAVES<div class="filter-nav-icon faves"></div></a></li>
				<li><a href="/latest" class="filter-nav-link">LATEST<div class="filter-nav-icon latest"></div></a></li>
				<li class="last"><a href="/popular" class="filter-nav-link popular">POPULAR<div class="filter-nav-icon popular"></div></a></li>
			</ul>
			<!--END FILTER NAV-->
			<ul id="primary-menu">
				<li>
					<a href="/tag/{{tagsForMenu.Live.slug}}" class="primary-menu-link">Live
					<span>{{tagsForMenu.Live.description}}</span>
					</a>
				</li>
				<li class="margin-rt-none">
					<a href="/tag/{{tagsForMenu.Think.slug}}" class="primary-menu-link">Think
					<span>{{tagsForMenu.Think.description}}</span>
					</a>
				</li>
				<li>
					<a href="/tag/{{tagsForMenu.Rant.slug}}" class="primary-menu-link">Rant
					<span>{{tagsForMenu.Rant.description}}</span>
					</a>
				</li>
				<li class="margin-rt-none">
					<a href="/tag/{{tagsForMenu.Learn.slug}}" class="primary-menu-link">Learn
					<span>{{tagsForMenu.Learn.description}}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>	
</div>
<!--END MENU OVERLAY-->

<a href="#" id="menu-icon">
	<div id="relative">
		<div class="menu-bar one"></div>
		<div class="menu-bar two"></div>
		<div class="menu-bar three"></div>
	</div>
</a>