{{!-- <a class="sr-only sr-only-focusable" href="#gh-main">Skip to main content</a> --}}

{{gh-notifications location="top" notify="topNotificationChange"}}

<main id="gh-main" class="viewport" role="main" data-notification-count={{topNotificationCount}}>
    {{outlet}}
</main>


{{gh-notifications location="bottom"}}

{{#if showSettingsMenu}}
	{{outlet "settings-menu"}}
{{/if}}


{{partial "navbar"}}

{{outlet "modal"}}