<div id="manage-stories-container">
    <!--BEGIN LIFT COLUMN MANAGE LIST-->
    <div id="left-column">
        <div id="filter-selector-wrapper">
            <h3>View all stories in</h3>
            {{view "select" value=selectedFilter content=filterOptions optionValuePath="content.slug" optionLabelPath="content.name"}}
        </div>
        {{#view "paginated-scroll-box" tagName="section" classNames="content-list-content js-content-scrollbox"}}
            <ul id="stories-list">
                {{#each post in controller itemController="posts/post" itemView="post-item-view" itemTagName="li"}}
                    {{#link-to "posts.post" post.model class="permalink" alternateActive=view.active title="Edit this post"}}
                        {{#if post.isFeaturedInCurrentTag}}
                            <div class="featured-eyebrow"><div class="featured-eyebrow-icon"></div>Featured Story</div>
                        {{/if}}
                        
                        <h4>{{post.model.title}}</h4>
                        <div class="author">
                            {{#if post.model.author.image}}
                                <div class="author-image" style="background-image:url({{post.model.author.image}})"></div>
                            {{else}}
                                <div class="author-image"></div>
                            {{/if}}
                            <div class="byline">
                                <p>{{post.model.author.name}} <span>{{if post.model.isPublished "published " "edited " }}{{post.model.date}}</span></p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    {{/link-to}}

                    {{#if selectedFilterIsSortable}}
                        <div class="sort-up-arrow" {{action "movePostUp" post}}></div>
                    {{/if}}
                    {{#if post.model.isPublished}}
                        <div class="is-visible"></div>
                    {{/if}}
                    {{#if selectedFilterIsSortable}}
                        <div class="sort-down-arrow" {{action "movePostDown" post}}></div>
                    {{/if}}
                {{/each}}
            </ul>
        {{/view}}
    </div>
    <!--END LEFT COLUMN MANAGE LIST-->
    <!--BEGIN RIGHT COLUMB PREVIEW-->
    <div id="right-column">
        <!--BEGIN STORY DETAIL -->
        <div id="story-detail">
            {{outlet}}
        </div>
        <!--END STORY DETAIL-->
    </div>
    <!--END RIGHT COLUMN PREVIEW-->
</div>