<header class="page-header">
    <button class="menu-button js-menu-button" {{action "toggleGlobalMobileNav"}}><span class="sr-only">Menu</span></button>
    <h2 class="page-title">Editor</h2>
</header>

<div class="page-content">
    <header>
        <section class="box entry-title">
            {{gh-trim-focus-input type="text" id="entry-title" placeholder="Your Post Title" value=model.titleScratch
            tabindex="1" focus=shouldFocusTitle}}
        </section>
    </header>


    <section class="entry-markdown js-entry-markdown {{unless isPreview 'active'}}">
        <section id="entry-markdown-content" class="entry-markdown-content">
            {{gh-ed-editor classNames="markdown-editor js-markdown-editor" tabindex="1" spellcheck="true" value=model.scratch
            scrollInfo=view.editorScrollInfo focus=shouldFocusEditor focusCursorAtEnd=model.isDirty
            setEditor="setEditor" openModal="openModal" onFocusIn="autoSaveNew"}}
        </section>
        <img class="preview-image" src='{{model.image}}' />
    </section>

    {{partial "publish-bar"}}

</div>
