<!--BEGIN STORY DETAIL -->
<div id="story-detail">
    <!--STORY INTRO AREA-->
    <div id="story-intro" class="editor-placeholder-wrapper">
        <div class="edit-icon"></div>
        {{gh-trim-focus-input type="hidden" id="entry-title" value=model.titleScratch}}

        <!--REMOVE not-edited-yet class when user starts editing-->
        <!--This will remove the default grey-->
        <h2>
            {{#if model.titleScratch}}
                <div contenteditable="true" id="entry-title-visible">{{model.titleScratch}}</div>
            {{else}}
                <div contenteditable="true" id="entry-title-visible"></div>
            {{/if}}
            <div class='editor-placeholder {{if model.titleScratch "display-none" ""}}'>Enter Story Title...</div>
        </h2>
    </div>
    <!--END STORY INTRO AREA-->

    <!--BEGIN STORY IMAGE-->
    <div id="story-image">
        {{gh-uploader uploaded="setCoverImage" canceled="clearCoverImage" description="Upload a Photo" image=model.image uploaderReference=uploaderReference tagName="section"}}
    </div>
    <!--END STORY IMAGE-->
    <!--BEGIN STORY BODY-->
    <div id="story-body" class="editor-placeholder-wrapper">
        <div class="edit-icon"></div>
        {{gh-ed-editor classNames="markdown-editor js-markdown-editor" tabindex="1" spellcheck="true" value=model.scratch
        scrollInfo=view.editorScrollInfo focus=shouldFocusEditor focusCursorAtEnd=model.isDirty
        setEditor="setEditor" openModal="openModal" onFocusIn="autoSaveNew"}}
    </div>
    <!--END STORY BODY-->
</div>
<!--END STORY DETAIL-->

<!-- TODO: Remove this. -->
<script type="text/javascript">
$(function(){
    // If they edit the abstract, create an input (if there isnt already one) to store it in so that we save the abstract value.
    $("body").on("keyup", "#abstract-editor", function(){
        var input = $("input#entity-abstract", $(this).closest(".summary"));
        input.val($("#abstract-editor").html());
        input.change();
    });

    $("body").on("focus", "#story-detail [contenteditable=true]", function(){
        $(".editor-placeholder", $(this).closest(".editor-placeholder-wrapper")).addClass("display-none");
    });

    $("body").on("blur", "#story-detail [contenteditable=true]", function(){ 
        if($(this).text().trim().length === 0){
            $(".editor-placeholder", $(this).closest(".editor-placeholder-wrapper")).removeClass("display-none");
        }
    });

    $("body").on("click", ".edit-icon", function(){
        $("[contenteditable=true]", $(this).closest(".editor-placeholder-wrapper")).focus();
    });

    // Update a hidden input with the changes made to the editable div.
    // This is so the header text saves correctly.
    $("body").on("blur", "#story-intro h2 #entry-title-visible", function(){ 
        $("#entry-title").val($(this).text());
        $("#entry-title").change();
    });

    // Bind the finish editing button, this should show the modal
    $("body").on("click", "#finish-writing-story", function(e){
        e.preventDefault();
        
        // Copy the title
        $(".summary-title").html($("#entry-title").val());
        $("#finish-overlay").fadeIn("fast");

        // Hide the menu
        // $("#primary-nav, #menu-icon").fadeOut("fast");
    });

    // Bind the continue editing button, this just dismisses the modal.
    $("body").on("click", "#finish-overlay #action-area .continue-editing", function(e){
        e.preventDefault();
        $("#finish-overlay").fadeOut("fast");
        // $("#primary-nav, #menu-icon").fadeIn("fast");
    });

    grande.bind($("#body-editor .content"));
});
</script>

